body {
  font-family: 'Crimson Text', serif;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  color: #000;
  background-color: #fafafa;
}
header.site .title {
  font-family: 'Playfair Display SC', serif, cursive;
  font-size: 3rem;
}
@media (min-width: 992px) {
  header.site .title {
    font-size: 6rem;
  }
}

article.li .title {
  font-family: 'Playfair Display SC', serif, cursive;
  text-overflow: ellipsis;
  overflow: hidden;
}

article.li .detail {
  vertical-align: bottom;
}

.sm article.li .detail {
  display: table-cell;
  padding: 0;
  padding-left: .5rem;
  height: 50px;
  vertical-align: bottom;
}

.sm article.li .title {
  overflow: hidden;
}

article.li {
  box-shadow: .05rem 0 0.15rem gray;
}

.article-body figure { margin: 1.5rem 0; }
.article-body figure img { max-width: 100%; }
.article-body figure {
  height: auto;
  margin-top: 0;
}
.article-body figure.small {

  height: 15rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .article-body figure {
    float: none;
    margin: 0;
  }
  .article-body figure.small {
    height: 15rem;
    overflow: hidden;
  }
}
header.title {
  font-family: 'Playfair Display';
}

.article-title {
  font-family: 'Playfair Display';
}
.article-header time {
  position: absolute;
  right: 30px;
  color: Grey;
}

aside.site .section header .title {
  font-family: 'Playfair Display', serif, cursive;
}
aside.site .section.taxonomies a {
  font-family: 'Playfair Display SC', serif, cursive;
}
article.single .article-body p {
  line-height: 1.3rem;
}
article.single aside.recipe {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
}
article.single aside.recipe .subrecipe {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
article.single aside.recipe .amt {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
article.single aside.recipe p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 0.25rem;
  line-height: 1rem;
}
